body {
    background-color: #2d2a2e;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;

    pointer-events: none;
}

#media, #header, #footer, #control, #view, #arrow-container {
    pointer-events: auto;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#view {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#media {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0);
}

#header {
    position: absolute;
    left: 0;
    top: 0;
}

#meta {
    margin: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

#footer > p {
    margin-left: 10px;
}

#control {
    margin: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
}

#control > button {
    margin-right: 5px;
}

#control > button:last-child {
    margin-right: 0;
}

#arrow-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Mobile */
/* @media(hover: none){
    #arrow-container {
        display: none;
    }
} */

.left {
    transform: rotate(90deg)
}

.right {
    transform: rotate(-90deg)
}

.chevron {
    position: relative;
    text-align: center;
    padding: 0px 36px;
    margin-bottom: 6px;
    height: 10px;
    width: 20px;
    opacity: 50%;
  }
  .chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: whitesmoke;
    transform: skew(0deg, 20deg);
  }
  .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: whitesmoke;
    transform: skew(0deg, -20deg);
  }
  .chevron:hover {
    opacity: 80%;
  }