body {
    background-color: #2d2a2e;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
    pointer-events: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

#media, #header, #footer, #control, #view, #arrow-container {
    pointer-events: auto;
}

#view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#media {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0);
}

#header {
    position: absolute;
    left: 0;
    top: 0;
}

#footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

#control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    width: 150%;
}

#main-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
}

#main-controls > button {
    background: #ffffff;
    background-size: cover;
    border: none;
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 36px;

    outline: 0 solid #78f0d7;
    transition: outline-width 0.03s ease-in, transform 0.03s ease-in;
}

#main-controls > button:hover:enabled {
    outline-width: 4px;
    transform: translateY(-6px);
}

#main-controls > button:disabled {
    background: #d3d3d3;
}

#main-controls > button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
}

#progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 16px;
    background: #d3d3d3;
    outline: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    position: relative;
}

#progress::-webkit-slider-runnable-track {
    border-radius: 12px;
}

#progress::-moz-range-track {
    border-radius: 12px;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 20px;

    outline: 0 solid #78f0d7;
    transition: outline-width 0.03s ease-in, transform 0.03s ease-in;
}

#progress::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 20px;

    outline: 0 solid #78f0d7;
    transition: outline-width 0.03s ease-in, transform 0.03s ease-in;
}

#progress:enabled::-webkit-slider-thumb:hover{
    outline-width: 4px;
    transform: translateY(-4px);
}

#progress:enabled::-moz-range-thumb:hover{
    outline-width: 4px;
    transform: translateY(-4px);
}

#progress:disabled::-webkit-slider-thumb {
    background: #d3d3d3;
}

#progress:disabled::-moz-range-thumb {
    background: #d3d3d3;
}

#settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px;
}

#song {
    background-color: #ffffff;
    background-image: url("assets/buttons/button_song.png");
    background-repeat: no-repeat;
    background-position: 4px;
    background-size: 36px 36px;
    border: none;
    padding: 10px 20px 10px 40px;
    height: 36px;
    border-radius: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;

    outline: 0 solid #78f0d7;
    transition: outline-width 0.03s ease-in, transform 0.03s ease-in;
}

#song:hover:enabled {
    outline-width: 4px;
    transform: translateY(-6px);
}

#song:disabled {
    background-color: #d3d3d3;
}

#meta {
    margin: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
}

#arrow-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    transform: rotate(90deg)
}

.right {
    transform: rotate(-90deg)
}

.chevron {
    position: relative;
    text-align: center;
    padding: 0px 36px;
    margin-bottom: 6px;
    height: 10px;
    width: 20px;
    opacity: 50%;
}

.chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: whitesmoke;
    transform: skew(0deg, 20deg);
}

.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: whitesmoke;
    transform: skew(0deg, -20deg);
}

.chevron:hover {
    opacity: 80%;
}